.sutter-consent-questions {
    background-image: url('../../assets/sutterConsentQuestions.png');
    background-size: contain;
    height: 525px;
    width: 675px;
    background-repeat: no-repeat;
    margin: 0px auto;
  }
