<div class= "content">
    <div class= "sutter-banner"></div>
    <div class= "sutter-content">
      <p>Contribute today for tomorrow's discoveries about healthy aging and wellness. Just 30 minutes of your time and a blood sample will help
        to improve the health of our communities.
      </p>
      <p>This site will guide you through the 3-step enrollment process:</p>
      <p>1. Review the Biobank consent</p>
      <p>2. Sign the consent form</p>
      <p>3. Complete a short questionnaire</p>
    </div>
    <div class= "btn-container">
      <button class="continue-btn" routerLink="/consentReview">Continue</button>
    </div>
</div>